@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?76366589');
  src: url('../font/fontello.eot?76366589#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?76366589') format('woff2'),
       url('../font/fontello.woff?76366589') format('woff'),
       url('../font/fontello.ttf?76366589') format('truetype'),
       url('../font/fontello.svg?76366589#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?76366589#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-music:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-videocam:before { content: '\e806'; } /* '' */
.icon-camera:before { content: '\e807'; } /* '' */
.icon-attach:before { content: '\e808'; } /* '' */
.icon-photo:before { content: '\e809'; } /* '' */
.icon-lock:before { content: '\e80a'; } /* '' */
.icon-thumbs-up:before { content: '\e80b'; } /* '' */
.icon-pencil:before { content: '\e80c'; } /* '' */
.icon-comment:before { content: '\e80d'; } /* '' */
.icon-location:before { content: '\e80e'; } /* '' */
.icon-trash:before { content: '\e80f'; } /* '' */
.icon-doc:before { content: '\e810'; } /* '' */
.icon-cog:before { content: '\e811'; } /* '' */
.icon-params:before { content: '\e812'; } /* '' */
.icon-calendar:before { content: '\e813'; } /* '' */
.icon-lightbulb:before { content: '\e814'; } /* '' */
.icon-down-dir:before { content: '\e815'; } /* '' */
.icon-up-dir:before { content: '\e816'; } /* '' */
.icon-left-dir:before { content: '\e817'; } /* '' */
.icon-right-dir:before { content: '\e818'; } /* '' */
.icon-heart-1:before { content: '\e819'; } /* '' */
.icon-heart-empty:before { content: '\e81a'; } /* '' */
.icon-star-1:before { content: '\e81b'; } /* '' */
.icon-star-empty:before { content: '\e81c'; } /* '' */
.icon-user-1:before { content: '\e81d'; } /* '' */
.icon-users:before { content: '\e81e'; } /* '' */
.icon-user-add:before { content: '\e81f'; } /* '' */
.icon-dot-2:before { content: '\e820'; } /* '' */
.icon-dot-3:before { content: '\e821'; } /* '' */
.icon-bell:before { content: '\e822'; } /* '' */
.icon-volume-off:before { content: '\e823'; } /* '' */
.icon-volume-low:before { content: '\e824'; } /* '' */
.icon-volume-middle:before { content: '\e825'; } /* '' */
.icon-edit:before { content: '\e826'; } /* '' */
.icon-pen:before { content: '\e827'; } /* '' */
.icon-pencil-1:before { content: '\e828'; } /* '' */
.icon-tag:before { content: '\e829'; } /* '' */
.icon-tags:before { content: '\e82a'; } /* '' */
.icon-bookmark:before { content: '\e82b'; } /* '' */
.icon-flag:before { content: '\e82c'; } /* '' */
.icon-flag-filled:before { content: '\e82d'; } /* '' */
.icon-thumbs-up-1:before { content: '\e82e'; } /* '' */
.icon-thumbs-down:before { content: '\e82f'; } /* '' */
.icon-comment-1:before { content: '\e830'; } /* '' */
.icon-chat:before { content: '\e831'; } /* '' */
.icon-chat-alt:before { content: '\e832'; } /* '' */
.icon-warning-empty:before { content: '\e833'; } /* '' */
.icon-warning:before { content: '\e834'; } /* '' */
.icon-contacts:before { content: '\e835'; } /* '' */
.icon-vcard:before { content: '\e836'; } /* '' */
.icon-location-outline:before { content: '\e837'; } /* '' */
.icon-location-1:before { content: '\e838'; } /* '' */
.icon-forward-outline:before { content: '\e839'; } /* '' */
.icon-forward:before { content: '\e83a'; } /* '' */
.icon-home-outline:before { content: '\e83b'; } /* '' */
.icon-home:before { content: '\e83c'; } /* '' */
.icon-cancel-alt:before { content: '\e83d'; } /* '' */
.icon-cancel-alt-filled:before { content: '\e83e'; } /* '' */
.icon-pin-outline:before { content: '\e83f'; } /* '' */
.icon-pin:before { content: '\e840'; } /* '' */
.icon-colon:before { content: '\e841'; } /* '' */
.icon-semicolon:before { content: '\e842'; } /* '' */
.icon-edit-1:before { content: '\e843'; } /* '' */
.icon-at:before { content: '\e844'; } /* '' */
.icon-bullhorn:before { content: '\e845'; } /* '' */
.icon-volume-off-1:before { content: '\e846'; } /* '' */
.icon-volume-down:before { content: '\e847'; } /* '' */
.icon-volume:before { content: '\e848'; } /* '' */
.icon-volume-up:before { content: '\e849'; } /* '' */
.icon-folder:before { content: '\e84a'; } /* '' */
.icon-folder-close:before { content: '\e84b'; } /* '' */
.icon-folder-open:before { content: '\e84c'; } /* '' */
.icon-comment-2:before { content: '\e84d'; } /* '' */
.icon-megaphone:before { content: '\e84e'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e84f'; } /* '' */
.icon-cancel-circled:before { content: '\e850'; } /* '' */
.icon-plus:before { content: '\e851'; } /* '' */
.icon-plus-circled:before { content: '\e852'; } /* '' */
.icon-minus:before { content: '\e853'; } /* '' */
.icon-volume-high:before { content: '\e854'; } /* '' */
.icon-hammer:before { content: '\e855'; } /* '' */
.icon-paper-plane:before { content: '\e856'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-user-2:before { content: '\f061'; } /* '' */
.icon-users-1:before { content: '\f064'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-beer:before { content: '\f0fc'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */