<div class="popup_bg"></div>
<div class="popup block" data-id="confirm/delFriend_select">
    <div class="popup_header_holder">
        <div class="popup_header module_title">Подтверждение <a class="flr close" onclick="popup.remove('confirm/delFriend_select');"><i class="fa fa-close fa-fw fa-lg"></i></a></div>
    </div>
    <div class="popup_content module_content">
        <center>
            <p>Вы уверены, что хотите удалить этого пользователя из списка друзей?</p><br />
            <a class="btn select btn_accept" data-id="yes">Да</a>
            <a class="btn select btn_danger" data-id="no">Нет</a>
        </center>
        <div style="clear: both;"></div>
    </div>
</div>