@font-face {
    font-family: 'font_1';
    src: url('../fonts/proxima/light.eot');
    src: url('../fonts/proxima/light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima/light.woff2') format('woff2'),
         url('../fonts/proxima/light.woff') format('woff'),
         url('../fonts/proxima/light.ttf') format('truetype'),
         url('../fonts/proxima/light.svg#proxima_nova_ltlight') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'font_2';
    src: url('fonts/proxima/reg.eot');
    src: url('fonts/proxima/reg.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima/reg.woff2') format('woff2'),
         url('fonts/proxima/reg.woff') format('woff'),
         url('fonts/proxima/reg.ttf') format('truetype'),
         url('fonts/proxima/reg.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font_3';
    src: url('fonts/proxima/bold.eot');
    src: url('fonts/proxima/bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima/bold.woff2') format('woff2'),
         url('fonts/proxima/bold.woff') format('woff'),
         url('fonts/proxima/bold.ttf') format('truetype'),
         url('fonts/proxima/bold.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'light';
    src: url('../fonts/Comme-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}
.font_1, .font_1 *:not(.fa) {
    font-family: 'font_1', sans-serif;
}
.font_3, .font_3 *:not(.fa) {
    font-family: 'font_3', sans-serif;
    font-weight: bold;
}

.size_1{
	font-size: 18px;
}

body{
	color: #333;
	font-size: 14px;
	line-height: 1.5em;
	font-family: 'font_2', 'Open Sans', sans-serif;
	overflow-x: hidden;
}
ul{
	list-style:none;margin: 0px;padding:0px;
}
ul.params{
	padding-left: 0px;
}
ul.params li{
	padding: 7px 0px;
}
p{
	margin: 10px 0px 15px;
	line-height: 1.25em;
	font-size: 16px;
}
a:link, .color_1{
	color: #26a85a;
}
a:link:hover{
	text-decoration: none;
}
h1, h2, h3, h4, h5{
	font-weight: 100;
	font-family: 'font_1', 'Open Sans', sans-serif;
	color: #000;
	margin: 0px;
	padding: 0px;
    line-height: 1em;
}
h1, .h1{
	font-size: 50px;
	line-height: 1em;
	margin: 30px 0px;
	display: block;
	position: relative;
	font-weight: 100;
	text-transform: uppercase;
}
h2, .h2{
    margin: 20px 0px;
}
h3, .h3{
	font-size: 48px;
}

.gap {
    height: 20px;
}

.gradient-1{
	background: #F3F9A7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #CAC531, #F3F9A7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #CAC531, #F3F9A7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background: #F3F9A7;
    background: -webkit-linear-gradient(to top, rgba(38, 171, 89, 0.7), #F3F9A7);
    background: linear-gradient(to top, rgba(38, 171, 89, 0.7), #F3F9A7);

}
.gradient-2{
	background: #F7971E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.top-line{
	moz-transition: all .5s ease;
	transition: all .5s ease;
	background: #fff;
	padding: 15px 0px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	box-shadow: 0 0 70px rgba(0,0,0,.3);
	width: 100%;
	height: 115px;
	z-index: 100;
	position: relative;
}
.top-line .main-menu ul{
	margin: 28px 15px;
	overflow: hidden;
}
.top-line .main-menu ul li{
	float: left;
	margin: 0px 10px;
}
.top-line .main-menu ul li a{
	display: block;
	color: #333;
	moz-transition: all .5s ease;
	transition: all .5s ease;
	font-size: 18px;
    height: 50px;
    line-height: 46px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.top-line .main-menu ul li a:hover{
	abackground: #009de0; 
	color: #000;
}
.top-line .main-menu ul li a:after{
	content: '';
	position: absolute;
	bottom: 14px;
	height: 1px;
	width: calc( 100% - 30px );
	background: #000;
	opacity: 0;
	transition: all .3s ease;
	moz-transition: all .3s ease;
	left: 15px;
}
.top-line .main-menu ul li a:hover:after{
	opacity: 1;
}
.top-line.scrolling{
	opacity: .85;
	padding: 5px 0px;
}
.top-line .info-phone{
	line-height: 110px;
	font-size: 18px;
}

.hamburger-menu{
	display: none;
	position: absolute;
	top: 35px;
	right: 15px;
}
.hamburger-menu .line{
	width: 36px;
	height: 2px;
	background-color: #26a85a;
	display: block;
	margin: 8px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.hamburger-menu:hover{
	cursor: pointer;
}

/* ONE */

#toggle-menu.is-active .line:nth-child(2){
	opacity: 0;
}

#toggle-menu.is-active .line:nth-child(1){
	-webkit-transform: translateY(10px) rotate(45deg);
	-ms-transform: translateY(10px) rotate(45deg);
	-o-transform: translateY(10px) rotate(45deg);
	transform: translateY(10px) rotate(45deg);
}

#toggle-menu.is-active .line:nth-child(3){
	-webkit-transform: translateY(-10px) rotate(-45deg);
	-ms-transform: translateY(-10px) rotate(-45deg);
	-o-transform: translateY(-10px) rotate(-45deg);
	transform: translateY(-10px) rotate(-45deg);
}
header{
	height: auto;
	position: relative;
	overflow: hidden;
	height: 100vh;
}
header img{
	height: 100%;
	z-index: 1;
}
header .image{
	background: url("../img/header.png");
	background-size: auto 100%;
	background-position: center;
	height: 100%;
	width: 100%;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
}
header .image:after{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	content: '';
	background: #fff;
	opacity: .75;
	z-index: 2;
}
header .buttons{
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translate(-50%, 0);
	z-index: 20;
}
header .logo{
	margin-bottom: 30px;
}
header .logo img{
	width: 200px;
}
header h1{
	margin: 30px 0px;
	font-family: 'font_1', 'Open Sans', sans-serif;
	color: #454545;
}
header h1 span{
	font-family: 'font_2', 'Open Sans', sans-serif;
}
header h2{
	margin-bottom: 30px;
}
header .header-desc{
	position: absolute;
	left: 30px;
	bottom: -10px;
	z-index: 4;
	line-height: 1.2em;
	font-size: 18px;
}
header .wrapper{
	z-index: 20;
	position: absolute;
	text-align: center;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 700px;
    padding: 0px 20px;
}
header .wrapper img{
	max-width: 480px;
}

.video-col{
	cursor: pointer;
}

.desc-bg{
	background: url('../img/desc-bg.png');
	background-size: 100% auto;
	padding: 15px 0px;
}
.desc-bg:after{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	content: '';
	background: #000;
	opacity: .05;
	z-index: 2;
}
.desc-bg .title-holder{
	color: #fff;
	z-index: 3;
}
.desc-bg .title-holder .title{
	color: #fff;
}
.desc-bg .title-holder:after{
	display: none;
}

section{
	padding: 15px 0px 40px;
	z-index: 2;
	position: relative;
	background: #fff;
}
section .padding{
	padding: 30px 0px;
}

.title-holder{
	text-align: center;
	position: relative;
	padding-bottom: 1px;
	margin: 20px 0px;
}
.title-holder .title{
	line-height: 1.3em;
	font-size: 2em;
	text-transform: uppercase;
	color: #555;
}
.title-holder.small-title{
	padding-bottom: 1px;
}
.title-holder.small-title .title{
	margin-bottom: 10px;
	font-size: 1.3em;
}
.title-holder:after{
	position: absolute;
	content: '';
	display: block;
	width: 100px;
	height: 4px;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	background: #009de0;
	background: #009038;
}
.first-text{
	text-align: center;
	font-size: 20px;
	font-weight: 100;
	font-family: 'font_1';
}

#calc .result{
	padding-top: 15px;
}
#calc .result span{
	padding-left: 8px;
}
#calc .result #result_e,
#calc .result #result_price{
	font-weight: bold;
    font-size: 22px;
    display: inline-block;
    padding-right: 5px;
}

#ad1 p{
	min-height: 110px;
}
#ad1 .icon{
	display: inline-block;
	width: 24px;
	height: 24px;
	color: #000;
	line-height: 24px;
	text-align: center;
	font-size: 12px;
	border-radius: 16px;
	vertical-align: top;
	margin-top: -3px;
	margin-right: 2px;

	background: #F3F9A7;
    background: -webkit-linear-gradient(to top, rgba(38, 171, 89, 0.7), #F3F9A7);
    background: linear-gradient(to top, rgba(38, 171, 89, 0.7), #F3F9A7);

    background: #009038;
    color: #fff;
}

#comments{
	padding-bottom: 15px;
}
.comment{
	float: left;
	width: 50%;
	background: #f4f4f4;
}
.comment:after{
	display: block;
	content: '';
	position: relative;
	clear: both;
}
.comment .inner{
	display: flex;
	padding: 15px;
}
.comment .avatar-holder{
	width: 100px;
	min-width: 100px;
}
.comment .avatar{
	border-radius: 100px;
	width: 85px;
	height: 85px;
	display: block;
	border: 2px solid #009038;
	margin-right: 15px;
}
.comment .info .about{
	display: flex;
}
.comment .info .about .rating{
	font-weight: bold;
	color: #000;
}
.comment .info .about .name{
	font-weight: bold;
	color: #009038;
	margin: 0px 8px;
}
.comment .info .about .spacer{
	flex: 1;
}
.comment .info .about .sflag{
	margin-top: 7px;
}
.comment .text{

}
.comment .text p{
	padding: 0px;
	margin: 0px;
	font-size: 13px;
}
.comments .comment:nth-child(2){
	float: right;
}

.flex{
	margin: 30px 0px 40px;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.flex .item{
	margin-top: 30px;
	margin-bottom: 15px;
	flex: 1 320px;
	text-align: center;
	max-width: 240px;
}
.flex .item .icon{
	height: 120px;
	width: 120px;
	font-size: 3em;
	color: #009038;
	box-sizing: border-box;
	line-height: 118px;
	border: 1px solid #009038;
	border-radius: 120px;
	transition: all 0.5s ease;
	margin: 0px auto;
}
.flex .item span{
	margin-top: 15px;
	margin-bottom: 8px;
	display: block;
	font-weight: bold;
	color: #009038;
	cursor: pointer;
	font-size: 16px;
}
.flex .item:hover{
	cursor: pointer;
}
.flex .item:hover .icon{
	background: #009038;
	color: #fff;
}
.flex .item:hover span{
	color: #009038;
}

/* BUTTONS */
.buttons{
	position: relative;
	margin-top: 20px;
	overflow: hidden;
	text-align: center;
}
.buttons .button{
	margin-left: 15px;
}
.buttons .button:first-child{
	margin-left: 0px;
}
.button, a.button{
	display: inline-block;
	padding: 8px 15px;
	background: #009038;
	color: #fff;
	border: none;
	min-width: 190px;
	text-align: center;
	moz-transition: all .5s ease;
	transition: all .5s ease;
	border-radius: 2px;
	border-radius: 30px;
}
.button:hover, a.button:hover{
	cursor: pointer;
	background: #04722f;
}
.button.bordered{
	background: transparent;
	border: 2px solid #009038;
	color: #009038;
	padding: 6px 13px;
}
.button.bordered:hover{
	color: #fff;
	background: #04722f;
}

section img{
	width: 100%;
}
section.dark{
	background: #f5f8fa;
}
section .row{
	margin-top: 15px;
}
section#map{
	padding-bottom: 0px;
	position: relative;
}

.map-contacts{
	background: #FFF;
    position: absolute;
    z-index: 5;
    width: 40%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    top: 15%;
    left: 50%;
    margin-left: -750px;
    width: 600px;
}

.container.contacts{
	font-size: 1.2em;
	line-height: 1.2em;
	text-align: center;
	font-weight: bold;
}
.container.contacts i{
	font-size: 2.3em;
	vertical-align: top;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 10px;
	color: #009038;
}
.container.contacts .cell{
	margin: 15px 0px;
}
.container.contacts i.fa-mobile{
	font-size: 2.5em;
	margin-bottom: 16px;
}
.container.contacts .info{
}
.container.contacts .info.center{
	margin-top: 8px;
}

a.info-phone{
	display: block;
	font-size: 16px;
	line-height: 30px;
}

abbr{
	color: #777;
	margin: 15px auto;
	display: block;
	text-align: center;
}

.container.slider{
	position: relative;
}

.hint-block{
	padding: 15px;
}
.hint-block p{
	padding: 0px;
	margin: 0px;
}
.owl-carousel .item{
	margin-bottom: 40px;
}
.owl-carousel .item a:before{
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #009038;
	opacity: 0;
	left: 0;
	top: 0;
	moz-transition: all .5s ease;
	transition: all .5s ease;
	z-index: 10;
}
.owl-carousel .item:hover a:before{
	opacity: .2;
	cursor: pointer;
}
.slider-nav .left,
.slider-nav .right{
	position: absolute;
	top: 50%;
	transform: translate(0, -100%);
	display: block;
	width: 20px;
	height: 0;
	border-style: solid;
}
.slider-nav .left{
	left: -20px;
	border-width: 20px 20px 20px 0;
	border-color: transparent #009037 transparent transparent;
}
.slider-nav .left:hover{
	cursor: pointer;
	border-color: transparent #009037 transparent transparent;	
}
.slider-nav .right{
	right: -20px;
	border-width: 20px 0 20px 20px;
	border-color: transparent transparent transparent #009037;
}
.slider-nav .right:hover{
	cursor: pointer;
	border-color: transparent transparent transparent #009037;	
}
.slider_parthner .item img{
	height: 100px;
	width: 100%;
}

.tooltip{position:relative}
.tooltip:before{content:'';position:absolute;display:block;width:0;height:0;border-style:solid;border-width:8px 7px 0 7px;border-color:#00a388 transparent transparent transparent;visibility:hidden;opacity:0;-webkit-transition:opacity .2s ease;transition:opacity .2s ease;z-index:5}
.tooltip:after{line-height:9px;bottom:auto;height:auto;width:auto;content:attr(data-tip);color:#fff;position:absolute;font-size:13px;-webkit-transition:opacity .2s ease;transition:opacity .2s ease;-webkit-border-radius:0!important;border-radius:0!important;background-color:#00a388!important;padding:10px 13px!important;white-space:nowrap!important;visibility:hidden;opacity:0;z-index:5}
.tooltip.tip-top:before{bottom:100%;left:50%;-webkit-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0)}
.tooltip.tip-top:after{bottom:100%;left:50%;-webkit-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);margin-bottom:8px}
.tooltip.tip-bottom:before{top:100%;left:50%;-webkit-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);border-width:0 7px 8px 7px;border-color:transparent transparent #00a388 transparent}
.tooltip.tip-bottom:after{top:100%;left:50%;-webkit-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);margin-top:8px}
.tooltip.tip-right:before{top:50%;left:100%;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);border-width:7px 8px 7px 0;border-color:transparent #79bd8f transparent transparent}
.tooltip.tip-right:after{top:50%;left:100%;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);margin-left:8px}
.tooltip:hover{cursor:pointer}
.tooltip:hover:after,.tooltip:hover:before{opacity:1;visibility:visible}

.radio-labeled{
	display: inline-block;
	margin-right: 15px;
}
.radio-labeled input{
	display: none;
}
.radio-labeled label{
	display: inline-block;
	text-align: center;
	color: #009037;
	border: 2px solid #009037;
	border-radius: 2px;
	padding: 6px 13px;
	moz-transition: all .5s ease;
	transition: all .5s ease;
}
.radio-labeled input:checked + label, .radio-labeled label:hover{
	cursor: pointer;
	background: #009037;
	color: #fff;
}

input[type="text"]{
	border: 1px solid #009037;
	padding: 7px 14px;
	background: #fff;
	display: inline-block;
	margin-bottom: 8px;
	width: 190px;

	font-size: 13.3px;
    color: #000;
    padding: 10px;
    height: 46px;
    margin: 0;
    background: #fff;
    border: 1px solid #d7d7d7;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
    display: inline-block;
    text-align: left;
    position: relative;
}
.col-sm-4 input{
	width: 100%;
}
.col-sm-4 .button{
	border-radius: 0px;
	font-size: 13.3px;
	width: 100%;
	padding: 10px;
    height: 46px;
}

.products-list{

}
.products-list .product-cell{
	min-height: 200px;
	font-size: 14px;
	font-family: 'font_1';
}
.product-cell .product-title{
    font-size: 16px;
    line-height: 1.35;
    min-height: 4em;
    font-family: 'font_3',sans-serif;
    font-weight: 100;
    color: #000;
    text-align: center;
}
.product-cell .params dl{
    position: relative;
    display: inline-block;
    width: 50%;
    margin: 0px;
    float: left;
}
.product-cell .params dt,
.product-cell .params dd{
	float: left;
	margin: 0px;
	padding: 0px;
	width: 50%;
}
.product-cell .params dt{
	font-family: 'font_3', sans-serif;
	font-weight: 600;
	text-align: center;
}
.product-cell .params dd{

}
.product-cell .description{
	font-size: 14px;
	min-height: 6em;
}
.product-cell .product-row{
	padding: 8px 0px;
	text-align: center;
	font-size: 16px;
	line-height: 1.35em;
}
.product-cell .price{
	font-family: 'font_3', sans-serif;
	font-weight: 600;
}

.product{
	
}
.product .image-holder{
	margin-bottom: 15px;
}
.product .additional-photos{
	margin-bottom: 30px;
}
.product .additional-photos .image{
	cursor: pointer;
	transition: all .3s ease;
	moz-transition: all .3s ease;
	padding: 7.5px;
}
.product .additional-photos .image:first-child{
	padding-left: 0px;
	padding-right: 15px;
}
.product .additional-photos .image:last-child{
	padding-left: 15px;
	padding-right: 0px;
}
.product .additional-photos .image img{
	width: 100%;
}
.product .additional-photos .image.selected{
	border: 1px solid #ccc;
}

.product .product-price span.font_3{
	margin-right: 10px;
}

.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(255, 255, 255, .7);
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	moz-transition: all .5s ease;
	transition: all .5s ease;
}
.popup{
	display: inline-block;
	background: #fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	padding: 30px;
	position: fixed;
	left: 50%;
	top: 20%;
	width: auto;
	transform: translate(-50%, -50%);
	z-index: 10000;
	text-align: center;
	moz-transition: all .5s ease;
	transition: all .5s ease;
	opacity: 0;
	visibility: hidden;
}
.popup input{
	text-align: center;
}
.popup .title-holder{
	margin-top: 0px;
}
.popup .title{
	margin-bottom: 15px;
}
.popup label{
	display: block;
	margin-bottom: 5px;
}

@media screen and (max-width: 1400px){
	.map-contants{
		margin-left: -650px;
	}
}
@media screen and (max-width: 1100px){
	.product-cell .description{
		font-size: 14px;
		min-height: 1em;
	}
}
@media screen and (max-width: 1000px){
	.gap {
	    height: 15px;
	}
	.hamburger-menu{
		display: block;
	}
	.top-line .col-xs-12{
		padding: 0px;
	}
	.top-line .col-xs-12 .col-xs-1{
		padding: 0px;
	}
	.top-line .main-menu{
		width: 300px;
		padding: 0px;
		box-shadow: 0 0 10px rgba(0,0,0,0.1);
		position: absolute;
		background: #fff;
		top: 120px;
		right: 0px;
		display: none;
	}
	.top-line .main-menu:after{
		display: block;
		position: absolute;
		top: -10px;
		right: 25px;
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 10px 10px 10px;
		border-color: transparent transparent #26a85a transparent;
		line-height: 0px;
		_border-color: #000000 #000000 #009de0 #000000;
		_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
	}
	.top-line .main-menu ul{margin: 0px;}
	.top-line .main-menu ul li{
		display: block;
		margin: 0px;
		display: block;
		width: 100%;
	}
	.top-line .main-menu ul li a{
		border: 0px;
		width: 100%;
		display: block;
		padding: 15px 20px;
		border-bottom: 1px solid rgba(38, 168, 90, .3);
		line-height: 1em;
	}
	.top-line .main-menu ul li a:hover:after{
		display: none;
	}
	.top-line .info-phone{
		margin-right: 80px;
	}

	h3, .h3 {
	    font-size: 38px;
	}
}

@media screen and (min-width: 999px){
	.top-line .main-menu{
		display: block!important;
	}
}

@media screen and (max-width: 768px){
	.comment{
    	width: 100%;
    	margin-bottom: 15px;
    }
    .comment .inner{
    	display: block;
    }
    .comment .avatar{
    	margin: 0px auto 15px;
    }

    .map-contacts{
    	position: relative;
    	left: 0px;
    	top: 0px;
    	transform: none;
    	margin: 0px;
    	padding: 15px;
    	width: 100%;
    }
    .map-contacts .gap{
    	height: 8px;
    }
    .map-contacts h3{
    	margin-bottom: 12px;
    }

    #ad1{
		padding: 0px 15px;
	}
}

@media screen and (max-width: 480px){
	.button{
		width: 100%;
		margin-left: 0px!important;
		margin-top: 8px;
	}

	.container.contacts .cell{
		width: 100%;
		margin: 30px 0px;
	}

	.buy-price{
		width: 100%;
		float: none;
		text-align: center;
		margin-top: 15px;
		font-size: 10px!important;
	}
}

.clearfix{clear: both;display: table;width: 100%;overflow: hidden;}