html, body#elite-body{
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 100%;
}
body#elite-body{
    overflow: hidden;
}
iframe.file{
    width: 100%;
    height: 100%;
}
.eliter-file{
    position: absolute;
    width: 100%;
    height: 100vh;
    text-shadow: -1px -1px 1px #5c5c5e, 1px 1px 1px #38383a;
    overflow: hidden;
}
.elite-focus{
    outline: 4px solid #f2ca00 !important;
    outline-offset: 8px;
}
edit{
    outline: none;
    font-style: inherit;
    cursor: text;
    overflow: hidden;
}